@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?1x1j55');
    src: url('../fonts/icomoon.eot?1x1j55#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1x1j55') format('truetype'),
    url('../fonts/icomoon.woff?1x1j55') format('woff'),
    url('../fonts/icomoon.svg?1x1j55#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.core {
    width: 1190px;
    margin: 0px auto;
}

body {
    background-color: #f6f6f6;
}

header {
    height: 80px;
    background-color: #020000;
}

ul, h1, input {
    margin: 0;
    padding: 0;
}

input, button {
    border: 0;
    outline: none;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 12px;
    color: #999;
}

.fl {
    float: left;
}

.city {
    margin-left: 200px;
}

.fr {
    float: right;
}

.shortcut {
    background-color: #e3e4e5;
    height: 30px;
    border-bottom: 1px solid #dddddd;
    line-height: 30px;
}

.shortcut li {
    float: left;
}

.shortcut em {
    font-family: icomoon;
    font-style: normal;
    color: #cccccc;
}

.shortcut .city em {
    color: red;
}

/*.shortcut */
a:hover {
    color: red;
}

.space {
    width: 1px;
    height: 10px;
    background-color: #cccccc;
    margin: 12px 12px 0px; /*上 左右 下*/
}

.cred {
    color: red;
}

.mobile {
    position: relative;
}

.mobile img {
    position: absolute;
    left: -6px;
    top: 23px;
    border: 1px solid #cccccc;
}

/*中间部分*/
.middle {
    height: 170px;
    position: relative;
}

.logo a {
    display: block;
    width: 190px;
    height: 170px;
    background: #fff url(../images/logo.png) no-repeat;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, .3);
}

.form {
    width: 552px;
    height: 35px;
    background-color: pink;
    position: absolute;
    top: 60px;
    left: 320px;
}

.form input {
    width: 500px;
    height: 33px;
    border: 1px solid red;
    float: left;
    font-size: 14px;
}

.form button {
    width: 50px;
    height: 35px;
    background-color: red;
    float: left;
}

button em {
    font-family: icomoon;
    font-style: normal;
    color: #fff;
}

.shopCar {
    width: 188px;
    height: 33px;
    border: 1px solid #cccccc;
    position: absolute;
    top: 60px;
    right: 90px;
    background-color: #fff;
    text-align: center;
    line-height: 33px;
    color: red;
}

.shopCar em {
    font-family: icomoon;
    font-style: normal;
}

.shopCar span {
    width: 15px;
    height: 15px;
    background-color: red;
    position: absolute;
    top: 6px;
    right: 36px;
    line-height: 15px;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
}

.key {
    position: absolute;
    top: 98px;
    left: 320px;
}

.key .hot {
    color: red;
    margin-right: 20px;

}

.key a {
    margin-right: 8px;
}

.small_nav {
    width: 770px;
    height: 40px;
    position: absolute;
    bottom: 0px;
    left: 220px;
}

.small_nav li {
    float: left;
    margin-right: 10px;
    line-height: 33px;
}

.small_nav li a {
    font-size: 16px;
    color: #555555;
    margin-right: 10px;
    line-height: 33px;
}

.small_nav li a:hover {
    color: red;
}

.small_nav .space {
    margin: 12px 16px 0px 0px; /*上 左右 下*/
}

/*底部开始*/
footer {
    background-color: pink;
    height: 500px;
}
.kh {
    border-bottom: 1px solid #dedede;
    height: 102px;
}
.kh ul li {
    width: 297px;
    height: 43px;
    position: relative;
    line-height: 53px;
    float: left;
    color: #444;
    font-size: 18px;
}
.kh  li h5 {
    position: absolute;
    top: 0;
    left: 38px;
    width: 36px;
    height: 43px;
    background: url(../images/ico.png) no-repeat;
    text-indent: -999em;
}
.kh  li:nth-child(2) h5 {
    background-position: 0 -43px;
}
.kh  li:nth-child(3) h5 {
    background-position: 0 -86px;
}
.kh  li:nth-child(4) h5 {
    background-position: bottom;
}
.kh  li p {
    font-weight: 700;
    margin-left: 82px;
}
.help {
    height: 398px;
}